extend layout

block content
  .divMain
    h1 #{title}
    - var x = 5;
      .widget
        ul
          - for (var i=1; i<=x; i++) {
            li= i + ". Item"
          - }
    br      

    - 
    .widget
      h1 Выписка
      for name in droids
        .divcard
          span.spancard= name.value
          span.date= name.date
          button.btnDel X                      
        

