extend layout

mixin showCard(value, date)
      td +
      td= date
      td= value
      td  
        button.btnDel X                      

block content
  .widget        
    table
      caption Выписка
      tr
        th Тип
        th Дата
        th Сумма
        th Уд.
      for name in droids
        tr
          +showCard(name.value, name.date)
    p Сальдо на конец:
        

